<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="admName">
	<f:translate key="tx_transfermietwagen_domain_model_auto.adm_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="admName" /><br />
<label for="kurzName">
	<f:translate key="tx_transfermietwagen_domain_model_auto.kurz_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="kurzName" /><br />
<label for="klass">
	<f:translate key="tx_transfermietwagen_domain_model_auto.klass" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="klass" /><br />
<label for="tab">
	<f:translate key="tx_transfermietwagen_domain_model_auto.tab" />
</label><br />
	<f:form.textfield property="tab" /><br />
<label for="name">
	<f:translate key="tx_transfermietwagen_domain_model_auto.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="maxPerson">
	<f:translate key="tx_transfermietwagen_domain_model_auto.max_person" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="maxPerson" /><br />
<label for="maxKoffer">
	<f:translate key="tx_transfermietwagen_domain_model_auto.max_koffer" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="maxKoffer" /><br />
<label for="preis">
	<f:translate key="tx_transfermietwagen_domain_model_auto.preis" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="preis" /><br />
<label for="koef20b40">
	<f:translate key="tx_transfermietwagen_domain_model_auto.koef20b40" />
</label><br />
	<f:form.textfield property="koef20b40" /><br />
<label for="koef40b50">
	<f:translate key="tx_transfermietwagen_domain_model_auto.koef40b50" />
</label><br />
	<f:form.textfield property="koef40b50" /><br />
<label for="koef50b70">
	<f:translate key="tx_transfermietwagen_domain_model_auto.koef50b70" />
</label><br />
	<f:form.textfield property="koef50b70" /><br />
<label for="koef70b100">
	<f:translate key="tx_transfermietwagen_domain_model_auto.koef70b100" />
</label><br />
	<f:form.textfield property="koef70b100" /><br />
<label for="koef100">
	<f:translate key="tx_transfermietwagen_domain_model_auto.koef100" />
</label><br />
	<f:form.textfield property="koef100" /><br />
<label for="beschreibung">
	<f:translate key="tx_transfermietwagen_domain_model_auto.beschreibung" />
</label><br />
	<f:form.textarea property="beschreibung" cols="40" rows="15" /><br />
<label for="beschreibungRu">
	<f:translate key="tx_transfermietwagen_domain_model_auto.beschreibung_ru" />
</label><br />
	<f:form.textarea property="beschreibungRu" cols="40" rows="15" /><br />
<label for="beschreibungEn">
	<f:translate key="tx_transfermietwagen_domain_model_auto.beschreibung_en" />
</label><br />
	<f:form.textarea property="beschreibungEn" cols="40" rows="15" /><br />
<label for="provPausch">
	<f:translate key="tx_transfermietwagen_domain_model_auto.prov_pausch" />
</label><br />
	<f:form.textfield property="provPausch" /><br />
<label for="provProz">
	<f:translate key="tx_transfermietwagen_domain_model_auto.prov_proz" />
</label><br />
	<f:form.textfield property="provProz" /><br />
<label for="img">
	<f:translate key="tx_transfermietwagen_domain_model_auto.img" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="img" /><br />
<label for="imgBig">
	<f:translate key="tx_transfermietwagen_domain_model_auto.img_big" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="imgBig" /><br />
<label for="trPreis">
	<f:translate key="tx_transfermietwagen_domain_model_auto.tr_preis" />
</label><br />
	<f:form.textfield property="trPreis" /><br />
</html>