<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-transfer-mietwagen" >
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.adm_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.kurz_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.klass" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.tab" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.max_person" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.max_koffer" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.preis" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.koef20b40" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.koef40b50" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.koef50b70" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.koef70b100" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.koef100" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.beschreibung" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.beschreibung_ru" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.beschreibung_en" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.prov_pausch" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.prov_proz" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.img" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.img_big" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_auto.tr_preis" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>