<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-transfer-mietwagen" >
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.id_user" />
		</td>
		<td>
		{buchung.idUser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.id_fahrer" />
		</td>
		<td>
		{buchung.idFahrer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.name" />
		</td>
		<td>
		{buchung.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.name_kunde" />
		</td>
		<td>
		{buchung.nameKunde}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.telefon" />
		</td>
		<td>
		{buchung.telefon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.tel_kunde" />
		</td>
		<td>
		{buchung.telKunde}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.email" />
		</td>
		<td>
		{buchung.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.email_kunde" />
		</td>
		<td>
		{buchung.emailKunde}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.adresse" />
		</td>
		<td>
		{buchung.adresse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.staat" />
		</td>
		<td>
		{buchung.staat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.stadt" />
		</td>
		<td>
		{buchung.stadt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.plz" />
		</td>
		<td>
		{buchung.plz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.zeit_control" />
		</td>
		<td>
		{buchung.zeitControl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.start" />
		</td>
		<td>
		{buchung.start}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.end" />
		</td>
		<td>
		{buchung.end}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.start_mkt" />
		</td>
		<td>
		{buchung.startMkt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.start_zuruck" />
		</td>
		<td>
		{buchung.startZuruck}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.end_zuruck" />
		</td>
		<td>
		{buchung.endZuruck}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.start_zuruck_mkt" />
		</td>
		<td>
		{buchung.startZuruckMkt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.ab" />
		</td>
		<td>
		{buchung.ab}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.abzuruck" />
		</td>
		<td>
		{buchung.abzuruck}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.bis" />
		</td>
		<td>
		{buchung.bis}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.biszuruck" />
		</td>
		<td>
		{buchung.biszuruck}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.von" />
		</td>
		<td>
		{buchung.von}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.von_adress" />
		</td>
		<td>
		{buchung.vonAdress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.von_adress_zuruck" />
		</td>
		<td>
		{buchung.vonAdressZuruck}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.nach" />
		</td>
		<td>
		{buchung.nach}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.nach_adress" />
		</td>
		<td>
		{buchung.nachAdress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.nach_adress_zuruck" />
		</td>
		<td>
		{buchung.nachAdressZuruck}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.aid" />
		</td>
		<td>
		{buchung.aid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.distance" />
		</td>
		<td>
		{buchung.distance}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.distance_erw" />
		</td>
		<td>
		{buchung.distanceErw}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.art" />
		</td>
		<td>
		{buchung.art}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.z_art" />
		</td>
		<td>
		{buchung.zArt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.back" />
		</td>
		<td>
		{buchung.back}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.person" />
		</td>
		<td>
		{buchung.person}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.koffer" />
		</td>
		<td>
		{buchung.koffer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.rent_time" />
		</td>
		<td>
		{buchung.rentTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.kindersitz" />
		</td>
		<td>
		{buchung.kindersitz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.von_flug" />
		</td>
		<td>
		{buchung.vonFlug}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.zur_flug" />
		</td>
		<td>
		{buchung.zurFlug}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.flug_nr" />
		</td>
		<td>
		{buchung.flugNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.flug_zeit" />
		</td>
		<td>
		{buchung.flugZeit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.flug_nr_zuruck" />
		</td>
		<td>
		{buchung.flugNrZuruck}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.flug_zeit_zuruck" />
		</td>
		<td>
		{buchung.flugZeitZuruck}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.grundpreis" />
		</td>
		<td>
		{buchung.grundpreis}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.summa" />
		</td>
		<td>
		{buchung.summa}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.provision" />
		</td>
		<td>
		{buchung.provision}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.mwst" />
		</td>
		<td>
		{buchung.mwst}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.bezahlt" />
		</td>
		<td>
		{buchung.bezahlt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.vorkasse" />
		</td>
		<td>
		{buchung.vorkasse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.schild" />
		</td>
		<td>
		{buchung.schild}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.status" />
		</td>
		<td>
		{buchung.status}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.kommentar" />
		</td>
		<td>
		{buchung.kommentar}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transfermietwagen_domain_model_buchung.agent" />
		</td>
		<td>
		{buchung.agent}
		</td>
	</tr>
</table>
</html>